<%- include('./partials/head') %>

<a href="/">Back</a>

<h2>Squad</h2>

<ol>
    <% persons.forEach(person => { %>
        <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
    <% }) %>
</ul>

